<div class="row">
  <div class="col-lg-12">
    <h1 class="centered-text">Loan Database</h1>
    <div class="panel panel-container">
      <div class="col-md-12 centered-text">
        <h3>Quick Filters</h3>
      </div>
      <div class="col-md-12">&nbsp;</div>
      <div class="row">

        <div class="col-xs-12 col-md-4 col-lg-4 no-padding">
          <div class="panel panel-teal panel-widget border-right">
            <div class="row no-padding">
              <div> <em class="fa fa-xl fa-exclamation-circle"></em> </div>
              <div> <label class="text-muted"> need immediate attention </label> </div>
              <label class="container">
                <input type="checkbox" ng-click="toggleImportantFilter()">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-4 no-padding">
          <div class="panel panel-teal panel-widget border-right">
            <div class="row no-padding">
              <div> <em class="fa fa-xl fa-archive"></em> </div>
              <div> <label class="text-muted"> archived loans </label> </div>
              <label class="container">
                <input type="checkbox" ng-click="toggleArchivedFilter()" id="archived-filter">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-4 no-padding">
          <div class="panel panel-teal panel-widget">
          <!-- border-right NOT on the last column -->
            <div class="row no-padding">
              <div> <em class="fa fa-xl fa-check-square"></em> </div>
              <div> <label class="text-muted"> selected loans </label> </div>
              <label class="container">
                <input type="checkbox" ng-click="toggleSelectedFilter()">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>

        <!-- one more? -->

      </div>
    </div>
  </div>
</div>