<!-- Warranty bar, displayed under the loan progress bar if a warranty plan is present -->
<div class="row warranty-row" ng-show="loan.warranty && loan.warranty.price">
  <div class="col-xs-12">
    <h4 class="centered-text">Approved Warranty Plan</h4>
    <div class="warranty-bar warranty">
      <div>{{convert_warranties(loan.warranty.type_t)}}</div>
      <div>{{loan.warranty.term.months}} months | {{loan.warranty.term.miles}} miles</div>
      <div>{{loan.warranty.price | currency}}</div>
    </div>
  </div>
</div>